<package-def>
	<class name="КомандаСправкаПоПараметрам" file="src/Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаВыполнитьПакет" file="src/Классы/КомандаВыполнитьПакет.os"/>
	<module name="МенеджерКомандПриложения" file="src/Модули/МенеджерКомандПриложения.os"/>
	<module name="ЧтениеСценариев" file="src/Модули/ЧтениеСценариев.os"/>
</package-def>