<package-def>
	<class name="КомандаСправкаПоПараметрам" file="Классы/КомандаСправкаПоПараметрам.os"/>
	<class name="КомандаВыполнитьПакет" file="Классы/КомандаВыполнитьПакет.os"/>
	<module name="МенеджерКомандПриложения" file="Модули/МенеджерКомандПриложения.os"/>
	<module name="ЧтениеСценариев" file="Модули/ЧтениеСценариев.os"/>
</package-def>